<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
  <style>
    .card-text-hidden {
      /* 길이가 일정이상 길어지면 ...으로 가리기 표시하는 css */
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .card-wrapper {
      max-width: 400px;
      min-height: 300px;
      cursor: pointer;
      box-shadow: rgba(188, 196, 219, 0.77) 5px 5px 13px 0px;
    }

    .card-wrapper:hover {
      opacity: 0.5;
    }
  </style>
</head>

<body>
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="h5 text-white text-decoration-none" href="#">Albums</div>
    </div>
  </nav>

  <div class="d-flex flex-wrap justify-content-center mt-5">
    <% data.forEach(li => { %>
    <div onclick="moveDetail(`<%= li.id %>`)" class="card-wrapper card bg-light m-5">
      <div class="
          card-header
          text-white
          bg-dark
          d-flex
          flex-column
          justify-content-center
          align-items-center
        " style="min-height: 70px; min-width: 300px; max-width: 300px">
        <%=li.id%>
      </div>
      <div class="card-body" style="min-width: 300px; max-width: 300px">
        <p class="card-text-body card-text card-text-hidden text-center"><%=li.title%></p>
      </div>
    </div>
    <% }) %>
  </div>

  <nav aria-label="...">
    <ul class="pagination justify-content-center">

      <% if(page === 1){ %>
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <% } else { %>
        <li class="page-item"></li>
        <a class="page-link text-dark" href="?albums=<%=page-1%>">Previous</a>
      <% } %>
      
      <% for(let i = 1; i < Math.floor(count/8) + 1; i++) { %>
      
        <% if (i === page) { %>
          <li class="page-item active">
            <span class="page-link text-white bg-dark"><%= i %></span>  
          </li>
        <% } else { %>
          <li class="page-item">
            <a href="/albums/?page=<%=i%>" class="page-link text-dark">
              <%= i %>
            </a>
          </li>
        <% } %>
      <% } %>

      <% if(page === Math.floor(count/8 + 1)) { %>
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
      <% } else {%>
        <li class="page-item">
          <a class="page-link text-dark" href="/albums/?page=<%=page+1%>">Next</a>
        </li> 
      <% } %>

    </ul>
  </nav>
  <script>
    function moveDetail(id){
      console.log(id);
      location.href = `/albums/${id}/photos`;
    }
  </script>
</body>

</html>